<h1>Hola, añade una nueva propiedad</h1>

<% @property.errors.full_messages.each do |full_message| %>
	<p><%= full_message %></p>
<% end %>

<%= form_for @property do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	</br>
	</br>

  <%= f.label :description %>
	<%= f.text_field :description %>

	</br>
	</br>

  <%= f.label :address %>
	<%= f.text_field :address %>

	</br>
	</br>

  <%= f.label :price %>
	<%= f.text_field :price %>

	</br>
	</br>

  <label>Contacto</label>

  </br>
  </br>

  <%= f.label :ownerName %>
	<%= f.text_field :ownerName %>

  </br>
  </br>

  <%= f.label :ownerEmail %>
	<%= f.text_field :ownerEmail %>

	</br>
	</br>

  <%= f.label :ownerPhone %>
	<%= f.text_field :ownerPhone %>

	</br>
  </br>

	<%= f.submit 'Crear Anuncio' %>
<% end %>
